@media only screen {
	.testimonials-testimonials-grid-item-quotemark{
		display: none;
	}
	.home-testimonials-grid-item-personinfo-name {
		font-weight: 100;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	
}
